In [1]:
import numpy as np
import seaborn as sns
import pandas as pd
from sklearn.model_selection import train_test_split 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report
from sklearn.preprocessing import MinMaxScaler

# READ  Data

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/HamedAyani114/dataset/main/water_potability.csv")
df

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
...,...,...,...,...,...,...,...,...,...,...
3271,4.668102,193.681735,47580.991603,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,1
3272,7.808856,193.553212,17329.802160,8.061362,NaN,392.449580,19.903225,NaN,2.798243,1
3273,9.419510,175.762646,33155.578218,7.350233,NaN,432.044783,11.039070,69.845400,3.298875,1
3274,5.126763,230.603758,11983.869376,6.303357,NaN,402.883113,11.168946,77.488213,4.708658,1
3275,7.874671,195.102299,17404.177061,7.509306,NaN,327.459760,16.140368,78.698446,2.309149,1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3276 entries, 0 to 3275
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               2785 non-null   float64
 1   Hardness         3276 non-null   float64
 2   Solids           3276 non-null   float64
 3   Chloramines      3276 non-null   float64
 4   Sulfate          2495 non-null   float64
 5   Conductivity     3276 non-null   float64
 6   Organic_carbon   3276 non-null   float64
 7   Trihalomethanes  3114 non-null   float64
 8   Turbidity        3276 non-null   float64
 9   Potability       3276 non-null   int64
dtypes: float64(9), int64(1)
memory usage: 256.1 KB

In [4]:
df.isnull().sum()

ph                 491
Hardness             0
Solids               0
Chloramines          0
Sulfate            781
Conductivity         0
Organic_carbon       0
Trihalomethanes    162
Turbidity            0
Potability           0
dtype: int64

In [5]:
df.Potability.value_counts()

0    1998
1    1278
Name: Potability, dtype: int64

# Preprocessing

In [6]:
data=df.dropna()

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2011 entries, 3 to 3271
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               2011 non-null   float64
 1   Hardness         2011 non-null   float64
 2   Solids           2011 non-null   float64
 3   Chloramines      2011 non-null   float64
 4   Sulfate          2011 non-null   float64
 5   Conductivity     2011 non-null   float64
 6   Organic_carbon   2011 non-null   float64
 7   Trihalomethanes  2011 non-null   float64
 8   Turbidity        2011 non-null   float64
 9   Potability       2011 non-null   int64
dtypes: float64(9), int64(1)
memory usage: 172.8 KB

In [8]:
data.isnull().sum()

ph                 0
Hardness           0
Solids             0
Chloramines        0
Sulfate            0
Conductivity       0
Organic_carbon     0
Trihalomethanes    0
Turbidity          0
Potability         0
dtype: int64

In [16]:
data

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
5,5.584087,188.313324,28748.687739,7.544869,326.678363,280.467916,8.399735,54.917862,2.559708,0
6,10.223862,248.071735,28749.716544,7.513408,393.663396,283.651634,13.789695,84.603556,2.672989,0
7,8.635849,203.361523,13672.091764,4.563009,303.309771,474.607645,12.363817,62.798309,4.401425,0
...,...,...,...,...,...,...,...,...,...,...
3267,8.989900,215.047358,15921.412018,6.297312,312.931022,390.410231,9.899115,55.069304,4.613843,1
3268,6.702547,207.321086,17246.920347,7.708117,304.510230,329.266002,16.217303,28.878601,3.442983,1
3269,11.491011,94.812545,37188.826022,9.263166,258.930600,439.893618,16.172755,41.558501,4.369264,1
3270,6.069616,186.659040,26138.780191,7.747547,345.700257,415.886955,12.067620,60.419921,3.669712,1
3271,4.668102,193.681735,47580.991603,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,1

# SPLITTING Data

In [9]:
# x = df.drop(['label'], axis = 1)
# y = df['label']
X = data.iloc[:, 0:-1] #FITUR
y = data.iloc[:, -1] #target

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, shuffle = True)

# MODELLING dan TESTING

In [11]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score,confusion_matrix,roc_auc_score
from sklearn.naive_bayes import GaussianNB

In [12]:
#Random Forest
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(X_train,y_train)
rf_pred = rf.predict(X_test)
print(classification_report(y_test,rf_pred))

              precision    recall  f1-score   support

           0       0.66      0.87      0.75       234
           1       0.69      0.39      0.50       169

    accuracy                           0.67       403
   macro avg       0.68      0.63      0.63       403
weighted avg       0.67      0.67      0.65       403

In [13]:
#GNB
from sklearn.ensemble import RandomForestClassifier
gnb = GaussianNB()
gnb.fit(X_train,y_train)
gnb_pred = gnb.predict(X_test)
# acc_gnb=round(accuracy_score(y_test, gnb_pred)*100, 2)
print(classification_report(y_test,gnb_pred))

              precision    recall  f1-score   support

           0       0.62      0.90      0.73       234
           1       0.62      0.24      0.34       169

    accuracy                           0.62       403
   macro avg       0.62      0.57      0.54       403
weighted avg       0.62      0.62      0.57       403

In [14]:
model_accuracy = pd.DataFrame(columns=['Model','Accuracy'])
models = {
          "KNN" : KNeighborsClassifier(),
          "DT" : DecisionTreeClassifier(),
          'RFC' : RandomForestClassifier(),
          "GNB" : GaussianNB(),

          }

for test, clf in models.items():
    clf.fit(X_train, y_train)
    y_pred = clf.predict(X_test)
    # acc = accuracy_score(y_test,y_pred)
    train_pred = clf.predict(X_train)
    train_acc = accuracy_score(y_train, train_pred)
    print("\n", test + ' scores')
    # print(acc)
    print(classification_report(y_test,y_pred))
    print('*' * 100,"\n")
    model_accuracy = model_accuracy.append({'Model': test, 'Train_acc': train_acc}, ignore_index=True)

 KNN scores
              precision    recall  f1-score   support

           0       0.60      0.71      0.65       234
           1       0.46      0.34      0.39       169

    accuracy                           0.55       403
   macro avg       0.53      0.52      0.52       403
weighted avg       0.54      0.55      0.54       403

****************************************************************************************************


 DT scores
              precision    recall  f1-score   support

           0       0.65      0.65      0.65       234
           1       0.51      0.51      0.51       169

    accuracy                           0.59       403
   macro avg       0.58      0.58      0.58       403
weighted avg       0.59      0.59      0.59       403

****************************************************************************************************


 RFC scores
              precision    recall  f1-score   support

           0       0.67      0.87      0.76       234
           1       0.69      0.41      0.52       169

    accuracy                           0.68       403
   macro avg       0.68      0.64      0.64       403
weighted avg       0.68      0.68      0.66       403

****************************************************************************************************


 GNB scores
              precision    recall  f1-score   support

           0       0.62      0.90      0.73       234
           1       0.62      0.24      0.34       169

    accuracy                           0.62       403
   macro avg       0.62      0.57      0.54       403
weighted avg       0.62      0.62      0.57       403

****************************************************************************************************

# EXPORT MODEL

In [15]:
# import pandas
# from sklearn import model_selection
# from sklearn.linear_model import LogisticRegression
import pickle
model = RandomForestClassifier()
model.fit(X_train, y_train)
# save the model to disk
filename = 'modeWater_RFC.sav'
pickle.dump(model, open(filename, 'wb'))